/*Michael Plemmons*/
h1, h2 {
  text-align:center;
  font-size: 3em;

background-color: orange;
color: darkred;
border-style: solid;
border-radius: 25px;

}

body {
background:radial-gradient(green,red,yellow);

}
div {
  float:bottom;
  text-align: center;
}
a.buttons {
  font-size:15em;
  text-decoration: none;
  background-color: orange;
  border-radius: 50px;
  padding:10px;
  color:black;
  border-style:dashed;
}
.box{
  padding-bottom:10px;
}
ol, ul {
  font-size: 2em;
}
button {
  font-size:2em;
  margin-left:750px;
}

#results {
  
}
